/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Colors */
@layer base {
  :root {
    /* Light Theme Colors */
    --background: #ffffff;
    --foreground: #222222;

    /* Dark Theme Colors */
    --dark-background: #222222;
    --dark-foreground: #ffffff;

    /* Custom scrollbar colors */
    --scrollbar-track: #f4f4f4; /* Light gray for scrollbar track */
    --scrollbar-thumb: #888888; /* Dark gray for scrollbar thumb */
    --dark-scrollbar-track: #333333; /* Dark theme scrollbar track */
    --dark-scrollbar-thumb: #cccccc; /* Dark theme scrollbar thumb */
  }
}

/* Scrollbar Styles */
@layer utilities {
  /* Light Theme Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--dark-scrollbar-track);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-scrollbar-thumb);
    border-radius: 10px;
    border: 3px solid var(--dark-scrollbar-track);
  }

  /* Dark Theme Scrollbar */
  .dark ::-webkit-scrollbar-track {
    background: var(--dark-scrollbar-track);
  }
  .dark ::-webkit-scrollbar-thumb {
    background-color: var(--dark-scrollbar-thumb);
    border: 3px solid var(--dark-scrollbar-track);
  }
}

/* Additional Base Styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
